<nz-list nzItemLayout="horizontal">
  <nz-list-item [nzActions]="[passwordOp]">
    <ng-template #passwordOp>
      <a (click)="msg.success('Edit')"> Chỉnh sửa </a>
    </ng-template>
    <nz-list-item-meta nzTitle="Mật khẩu tài khoản" [nzDescription]="passwordDesc">
      <ng-template #passwordDesc> Độ mạnh mật khẩu hiện tại: <span class="text-green"> strong </span> </ng-template>
    </nz-list-item-meta>
  </nz-list-item>
  <nz-list-item [nzActions]="[phoneOp]">
    <ng-template #phoneOp>
      <a (click)="msg.success('Edit')"> Chỉnh sửa </a>
    </ng-template>
    <nz-list-item-meta nzTitle="Điện thoại Bảo mật Bí mật" [nzDescription]="phoneDesc">
      <ng-template #phoneDesc>
        Điện thoại di động giới hạn: 159 **** 2231
      </ng-template>
    </nz-list-item-meta>
  </nz-list-item>
  <nz-list-item [nzActions]="[questionOp]">
    <ng-template #questionOp>
      <a (click)="msg.success('Edit')"> Chỉnh sửa </a>
    </ng-template>
    <nz-list-item-meta nzTitle="Câu hỏi bảo mật bí mật" [nzDescription]="questionDesc">
      <ng-template #questionDesc>
        Không có vấn đề bảo mật nào được đặt ra, vấn đề bảo mật có thể bảo vệ hiệu quả tính bảo mật của tài khoản
      </ng-template>
    </nz-list-item-meta>
  </nz-list-item>
  <nz-list-item [nzActions]="[emailOp]">
    <ng-template #emailOp>
      <a (click)="msg.success('Edit')"> Chỉnh sửa </a>
    </ng-template>
    <nz-list-item-meta nzTitle="Email Thay thế" [nzDescription]="emailDesc">
      <ng-template #emailDesc>
        Email liên kết: cip *****. Com
      </ng-template>
    </nz-list-item-meta>
  </nz-list-item>
  <nz-list-item [nzActions]="[mfaOp]">
    <ng-template #mfaOp>
      <a (click)="msg.success('Edit')"> Chỉnh sửa </a>
    </ng-template>
    <nz-list-item-meta nzTitle="Thiết bị MFA" [nzDescription]="mfaDesc">
      <ng-template #mfaDesc>
        Thiết bị MFA chưa được ràng buộc, sau khi ràng buộc, bạn có thể thực hiện xác nhận lần thứ hai
      </ng-template>
    </nz-list-item-meta>
  </nz-list-item>
</nz-list>
