<page-header [title]="'Hình thức nâng cao'">
  Hình thức nâng cao nó thường xảy ra trong các tình huống mà số lượng lớn dữ liệu được nhập và gửi cùng một lúc. (Ví dụ
  sử dụng các biểu mẫu đáp ứng và các phương pháp hướng mẫu cũng có thể được sử dụng)）
</page-header>
<form nz-form [formGroup]="form" (ngSubmit)="_submitForm()" [nzLayout]="'vertical'">
  <nz-card [nzBordered]="false" nzTitle="Quản lý Kho hàng">
    <nz-row nzGutter="16">
      <nz-col nzLg="6" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="name">Tên kho hàng</nz-form-label>
          <nz-form-control nzErrorTip="vui lòng nhập tên kho">
            <input nz-input formControlName="name" id="name" placeholder="vui lòng nhập tên kho" />
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzXl]="{ span: 6, offset: 2 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" nzSm="24">
        <nz-form-item>
          <nz-form-label>Tên miền kho</nz-form-label>
          <nz-form-control nzErrorTip="vui lòng nhập Tên miền kho">
            <nz-input-group nzAddOnBefore="http://" nzAddOnAfter=".com">
              <input nz-input formControlName="url" placeholder="vui lòng nhập" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzXl]="{ span: 8, offset: 2 }" [nzLg]="{ span: 10 }" [nzMd]="{ span: 24 }" nzSm="24">
        <nz-form-item>
          <nz-form-label> Quản trị viên kho </nz-form-label>
          <nz-form-control nzErrorTip="xin vui lòng chọn Quản trị viên">
            <nz-select formControlName="Owner" [nzPlaceHolder]="'xin vui lòng chọn  Quản trị viên'"
              [nzShowSearch]="true">
              <nz-option *ngFor="let i of users" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
    <nz-row nzGutter="16">
      <nz-col nzLg="6" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label>Giám khảo</nz-form-label>
          <nz-form-control nzErrorTip="xin vui lòng chọn Giám khảo">
            <nz-select formControlName="approver" [nzPlaceHolder]="'xin vui lòng chọn Giám khảo'" [nzShowSearch]="true">
              <nz-option *ngFor="let i of users" [nzLabel]="i.label" [nzValue]="i.value"> </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzXl]="{ span: 6, offset: 2 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" nzSm="24">
        <nz-form-item>
          <nz-form-label>Ngày có hiệu lực</nz-form-label>
          <nz-form-control>
            <nz-range-picker formControlName="date_range" [style]="{ width: '100%' }"></nz-range-picker>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzXl]="{ span: 8, offset: 2 }" [nzLg]="{ span: 10 }" [nzMd]="{ span: 24 }" nzSm="24">
        <nz-form-item>
          <nz-form-label>Loại nhà kho</nz-form-label>
          <nz-form-control nzErrorTip="xin vui lòng chọn Loại nhà kho">
            <nz-select formControlName="type" [nzShowSearch]="true" [nzPlaceHolder]="'xin vui lòng chọn loại nhà kho'">
              <nz-option [nzLabel]="'Riêng tư'" [nzValue]="'private'"></nz-option>
              <nz-option [nzLabel]="'công cộng'" [nzValue]="'public'"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
  </nz-card>
  <nz-card [nzBordered]="false" nzTitle="Quản lý công việc">
    <nz-row nzGutter="16">
      <nz-col nzLg="6" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label> Tên nhiệm vụ</nz-form-label>
          <nz-form-control nzErrorTip="vui lòng nhập  Tên nhiệm vụ">
            <input nz-input formControlName="name2" placeholder="vui lòng nhập  Tên nhiệm vụ" />
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzXl]="{ span: 6, offset: 2 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" nzSm="24">
        <nz-form-item>
          <nz-form-label>任务sự miêu tả</nz-form-label>
          <nz-form-control nzErrorTip="vui lòng nhập  miêu tả công việc">
            <textarea nz-input formControlName="summary" [nzAutosize]="true"
              placeholder="vui lòng nhập  miêu tả công việc"></textarea>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzXl]="{ span: 8, offset: 2 }" [nzLg]="{ span: 10 }" [nzMd]="{ span: 24 }" nzSm="24">
        <nz-form-item>
          <nz-form-label>Người thừa hành</nz-form-label>
          <nz-form-control nzErrorTip="xin vui lòng chọn Người thừa hành">
            <nz-select formControlName="Owner2" [nzPlaceHolder]="'xin vui lòng chọn Người thừa hành'"
              [nzShowSearch]="true">
              <nz-option *ngFor="let i of users" [nzLabel]="i.label" [nzValue]="i.value"> </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
    <nz-row nzGutter="16">
      <nz-col nzLg="6" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label>người phê duyệt</nz-form-label>
          <nz-form-control nzErrorTip="xin vui lòng chọn người phê duyệt">
            <nz-select formControlName="approver2" [nzPlaceHolder]="'xin vui lòng chọn người phê duyệt'"
              [nzShowSearch]="true">
              <nz-option *ngFor="let i of users" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzXl]="{ span: 6, offset: 2 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" nzSm="24">
        <nz-form-item>
          <nz-form-label> Thời gian hiệu quả </nz-form-label>
          <nz-form-control>
            <nz-time-picker formControlName="time"></nz-time-picker>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzXl]="{ span: 8, offset: 2 }" [nzLg]="{ span: 10 }" [nzMd]="{ span: 24 }" nzSm="24">
        <nz-form-item>
          <nz-form-label> loại công việc</nz-form-label>
          <nz-form-control nzErrorTip="xin vui lòng chọn loại công việc">
            <nz-select formControlName="type2" [nzShowSearch]="true"
              [nzPlaceHolder]="'xin vui lòng chọn loại công việc'">
              <nz-option [nzLabel]="'Riêng tư'" [nzValue]="'riêng tư'"> </nz-option>
              <nz-option [nzLabel]="'public'" [nzValue]="'public'"> </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
  </nz-card>
  <nz-card [nzBordered]="false" nzTitle="Quản lý thành viên">
    <nz-table formArrayName="items" [nzData]="items.value" [nzShowPagination]="false">
      <thead>
        <tr>
          <th> Tên thành viên </th>
          <th> ID công việc </th>
          <th> Bộ phận </th>
          <th> Hoạt động </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items.controls; let i = index" [formGroupName]="i">
          <td>
            <span *ngIf="editIndex !== i">{{ items.value[i].name }}</span>
            <nz-form-item *ngIf="editIndex === i">
              <nz-form-control nzErrorTip="vui lòng nhập tên thành viên">
                <input nz-input formControlName="name" placeholder="vui lòng nhập tên thành viên" />
              </nz-form-control>
            </nz-form-item>
          </td>
          <td>
            <span *ngIf="editIndex !== i">{{ items.value[i].workId }}</span>
            <nz-form-item *ngIf="editIndex === i">
              <nz-form-control nzErrorTip="vui lòng nhập công việc">
                <input nz-input formControlName="workId" placeholder="vui lòng nhập công việc" />
              </nz-form-control>
            </nz-form-item>
          </td>
          <td>
            <span *ngIf="editIndex !== i">{{ items.value[i].department }}</span>
            <nz-form-item *ngIf="editIndex === i">
              <nz-form-control nzErrorTip="vui lòng nhậpPhòng ban">
                <input nz-input formControlName="department" placeholder="vui lòng nhậpPhòng ban" />
              </nz-form-control>
            </nz-form-item>
          </td>
          <td>
            <span *ngIf="editIndex !== i">
              <a (click)="edit(i)">chỉnh sửa</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a nz-popconfirm nzPopconfirmTitle="是否要xóa bỏ此行？" (nzOnConfirm)="del(i)">xóa bỏ</a>
            </span>
            <span *ngIf="editIndex === i">
              <a (click)="save(i)">Lưu</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a nz-popconfirm nzPopconfirmTitle="是否要Hủy操作？" (nzOnConfirm)="cancel(i)">Hủy</a>
            </span>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <button *ngIf="editIndex === -1" nz-button [nzType]="'dashed'" (click)="add()" nzBlock class="mt-md">
      <i nz-icon nzType="plus"></i>
      <span> Thêm thành viên mới </span>
    </button>
  </nz-card>
  <footer-toolbar errorCollect>
    <button nz-button type="primary" nzType="primary">Gửi đi</button>
  </footer-toolbar>
</form>
