<nz-spin [nzSpinning]="userLoading">
  <div class="main" *ngIf="user">
    <div class="left">
      <form nz-form nzLayout="vertical" #f="ngForm" (submit)="save()" se-container="1">
        <se label="mailbox" error="vui lòng nhập hộp thư của bạn!">
          <input nz-input type="email" [(ngModel)]="user.email" name="email" required />
        </se>
        <se label="nickname" error="vui lòng nhập biệt hiệu của bạn!">
          <input nz-input [(ngModel)]="user.name" name="name" required />
        </se>
        <se label="Giới thiệu">
          <textarea nz-input [(ngModel)]="user.profile" name="profile" [nzAutosize]="{ minRows: 4, maxRows: 10 }"
            placeholder="Giới thiệu"></textarea>
        </se>
        <se label="Quốc gia / Khu vực">
          <nz-select [(ngModel)]="user.country" name="country" required>
            <nz-option nzLabel="0" nzValue="Hà Nội"></nz-option>
          </nz-select>
        </se>
        <se label="Tỉnh và Thành phố">
          <div class="d-flex justify-content-between">
            <nz-select [(ngModel)]="user.geographic.province.key" (ngModelChange)="choProvince($event)"
              name="geographic.province.key" required class="width-50 mr-sm">
              <nz-option *ngFor="let p of provinces" [nzLabel]="p.name" [nzValue]="p.id"></nz-option>
            </nz-select>
            <nz-select [(ngModel)]="user.geographic.city.key" name="geographic.city.key" required class="width-50">
              <nz-option *ngFor="let p of cities" [nzLabel]="p.name" [nzValue]="p.id"></nz-option>
            </nz-select>
          </div>
        </se>
        <se label="street address" error="vui lòng nhập địa chỉ đường phố của bạn!">
          <input nz-input [(ngModel)]="user.address" name="address" required />
        </se>
        <se label="Số liên lạc" error="vui lòng nhập Số liên hệ của bạn!">
          <input nz-input [(ngModel)]="user.phone" name="phone" required />
        </se>
        <se>
          <button nz-button nzType="primary" [disabled]="f.invalid"> Cập nhật thông tin</button>
        </se>
      </form>
    </div>
    <div class="right">
      <div class="avatar_title">Avatar</div>
      <div class="avatar"><img src="{{ user.avatar }}" alt="Avatar" /></div>
      <nz-upload nzAction="/user/avatar" [nzShowUploadList]="false">
        <button nz-button class="button_view">
          <i nz-icon nzType="upload"></i>
          <span>Thay ảnh</span>
        </button>
      </nz-upload>
    </div>
  </div>
</nz-spin>
