<form nz-form [formGroup]="form" (ngSubmit)="_submitForm()">
  <div se-container="1" labelWidth="100">
    <nz-alert class="pb-lg"
      [nzMessage]="'Sau khi xác nhận chuyển khoản, tiền sẽ được ghi có trực tiếp vào tài khoản của bên kia và không thể trả lại.'"
      [nzShowIcon]="true" [nzCloseable]="true"> </nz-alert>
    <se label="Tài khoản thanh toán"> {{item.pay_account}} </se>
    <se label="account type"> {{item.receiver_type === 'alipay'? 'Alipay': 'Bank'}} </se>
    <se label="tài khoản nhận"> {{item.receiver_account}} </se>
    <se label="Tên người nhận thanh toán"> {{item.receiver_name}} </se>
    <se label="Số tiền chuyển"> <strong class="text-lg"> {{item.amount}} </strong> </ se>
      <se label="Mật khẩu thanh toán" bắt buộc phải có error="Ít nhất 6 chữ số trở lên" class="border-top-1 pt-lg">
        <input nz-input formControlName="password" type="password" />
      </se>
      <se>
        <button nz-button [nzType]="'primary'" [nzLoading]="loading" [disabled]="form.invalid"> Gửi </button>
        <button nz-button (click)="prev ()"> Bước trước </button>
      </se>
  </div>
</form>
