<page-header [title]="'Biểu mẫu từng bước'"> Chia một nhiệm vụ biểu mẫu dài dòng hoặc không quen thuộc thành nhiều bước để hướng dẫn người dùng thực hiện. </page-header>
<nz-card [nzBordered]="false">
  <nz-steps [nzCurrent]="item.step">
    <nz-step nzTitle="Điền thông tin chuyển khoản"></nz-step>
    <nz-step nzTitle="Xác nhận thông tin chuyển khoản"></nz-step>
    <nz-step nzTitle="thực hiện"></nz-step>
  </nz-steps>
  <app-step1 *ngIf="item.step == 0"></app-step1>
  <app-step2 *ngIf="item.step == 1"></app-step2>
  <app-step3 *ngIf="item.step == 2"></app-step3>
</nz-card>
