<result type="success" [title]="'Hoạt động thành công'" description="Ước tính sẽ đến trong vòng hai giờ"
  [extra]="resultExtra">
  <ng-template #resultExtra>
    <div sv-container col="1" labelWidth="150">
      <sv label="tài khoản thanh toán"> {{item.pay_account}} </sv>
      <sv label="account type"> {{item.receiver_type_str}} </sv>
      <sv label="tài khoản nhận"> {{item.receiver_account}} </sv>
      <sv label="Số tiền chuyển">
        <strong class="text-lg pr-sm">{{ item.amount }}</strong>
        VND
      </sv>
    </div>
  </ng-template>
  <button nz-button (click)="item.again ()" [nzType]="'primary'"> Chuyển một nét khác </button>
  <button nz-button class="ml-sm"> Xem hóa đơn </button>
</result>
