<page-header [title]="'Số đặt hàng: 234231029431'" [logo]="logo" [action]="action" [extra]="extra" [tab]="tab">
  <ng-template #logo>
    <img src="https://gw.alipayobjects.com/zos/rmsportal/nxkuOJlFJuAUhzlMTCEe.png" />
  </ng-template>
  <ng-template #action>
    <nz-button-group>
      <button nz-button>Điều hành</button>
      <button nz-button>Điều hành</button>
    </nz-button-group>
    <button nz-button nz-dropdown [nzDropdownMenu]="opMenu" class="mx-sm">
      <i nz-icon nzType="ellipsis"></i>
    </button>
    <nz-dropdown-menu #opMenu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item> Lựa chọn một </li>
        <li nz-menu-item> Phương án hai </li>
        <li nz-menu-item> Tùy chọn Ba </li>
      </ul>
    </nz-dropdown-menu>
    <button nz-button [nzType]="'primary'"> Hoạt động chính </button>
  </ng-template>
  <ng-template #extra>
    <div nz-row>
      <div nz-col nzXs="24" nzSm="12">
        <p class="text-grey"> Trạng thái </p>
        <p class="text-lg"> Đang chờ phê duyệt </p>
      </div>
      <div nz-col nzXs="24" nzSm="12">
        <p class="text-grey"> Số tiền đặt hàng </p>
        <p class="text-lg">568.08 VND</p>
      </div>
    </div>
  </ng-template>
  <ng-template #tab>
    <nz-tabset>
      <nz-tab nzTitle="Chi tiết"></nz-tab>
      <nz-tab nzTitle="nguyên tắc"></nz-tab>
    </nz-tabset>
  </ng-template>
  <sv-container size="small" col="2">
    <sv label="Creator"> Qu Lili </sv>
    <sv label="Đặt hàng Sản phẩm"> Dịch vụ XX </sv>
    <sv label="Created time"> 2017-07-07 </sv>
    <sv label="Tài liệu được Liên kết">
      <a (click)="msg.success('yes')">12421</a>
    </sv>
    <sv label="ngày hiệu lực"> 2017-07-07 ~ 2017-08-08 </sv>
    <sv label="Note"> Vui lòng xác nhận trong vòng hai ngày làm việc </sv>
  </sv-container>
</page-header>
<nz-card [nzBordered]="false" class="mb-lg" nzTitle="Quá trình tiến trình">
  <nz-steps [nzCurrent]="1" nzProgressDot>
    <nz-step [nzTitle]="'Tạo dự án'" [nzDescription]="createDesc">
      <ng-template #createDesc>
        <div class="desc">
          <div class="my-sm">
            Qu Lili
            <i nz-icon nzType="dingding" class="ml-sm"></i>
          </div>
          <div>2016-12-12 12:32</div>
        </div>
      </ng-template>
    </nz-step>
    <nz-step [nzTitle]="'Đánh giá sơ bộ của bộ phận'" [nzDescription]="checkedDesc">
      <ng-template #checkedDesc>
        <div class="desc">
          <div class="my-sm">
            Zhou Maomao
            <i nz-icon nzType="dingding" class="ml-sm" style="color: #00a0e9;"></i>
          </div>
          <a (click)="msg.success('click')">Nhanh</a>
        </div>
      </ng-template>
    </nz-step>
    <nz-step [nzTitle]="'Đánh giá Tài chính'"> </nz-step>
    <nz-step [nzTitle]="'Xong'"> </nz-step>
  </nz-steps>
  <div class="steps-content"> </div>
</nz-card>
<nz-card [nzBordered]="false" nzTitle="Thông tin người dùng" class="mb-lg">
  <sv-container class="mb-lg">
    <sv label="user name"> Fu Xiaoxiao </sv>
    <sv label="Số thẻ thành viên"> 32943898021309809423 </sv>
    <sv label="ID card"> 3321944288191034921 </sv>
    <sv label="Thông tin liên hệ"> 18112345678 </sv>
    <sv label="Địa chỉ liên hệ"> Qu Lili 18100000000 Giao lộ Gongzhuan Road, Huanggushan Road, Xihu District, Hangzhou
      City, Zhejiang Province </sv>
  </sv-container>
  <sv-container class="mb-lg" title="Nhóm thông tin">
    <sv label="XXX data"> 725 </sv>
    <sv label="Thời gian cập nhật dữ liệu"> 2017-08-08 </sv>
    <sv> & nbsp; </sv>
    <sv [label]="label">
      <ng-template #label>
        Vì vậy, dữ liệu
        <i nz-tooltip nzTooltipTitle="Mô tả dữ liệu" nz-icon nzType="info-circle"> </i>
      </ng-template>
      725
    </sv>
    <sv label="Thời gian cập nhật dữ liệu"> 2017-08-08 </sv>
  </sv-container>
  <h4 class="mb-md"> Nhóm thông tin </h4>
  <nz-card nzType="inner" nzTitle="Nhóm thông tin đa cấp">
    <sv-container size="small" title="tên nhóm">
      <sv label="người phụ trách"> Lin Dongdong </sv>
      <sv label="role code"> 1234567 </sv>
      <sv label="Department"> XX Company-YY Department </sv>
      <sv label="Thời gian hết hạn"> 2017-08-08 </sv>
      <sv label="sự miêu tả"> Sự miêu tả này rất dài, rất dài, rất dài, rất dài, rất dài, rất dài, rất dài, rất dài, rất
        dài, rất dài ... </sv>
    </sv-container>
    <nz-divider></nz-divider>
    <sv-container size="small" title="tên nhóm" col="1">
      <sv label="tên khoa học">
        Citrullus lanatus (Thunb.) Matsum. Et Nakai là cây nho leo hàng năm, thân và cành cứng cáp, có các cạnh rõ rệt.
        Các tua dày hơn ...
      </sv>
    </sv-container>
    <nz-divider></nz-divider>
    <sv-container size="small" title="tên nhóm">
      <sv label="người phụ trách"> Fu Xiaoxiao </sv>
      <sv label="role code"> 1234568 </sv>
    </sv-container>
  </nz-card>
</nz-card>
<nz-card [nzBordered]="false" nzTitle="Bản ghi cuộc gọi điện thoại của người dùng trong sáu tháng qua" class="mb-lg">
  <div class="no-data"> <i nz-icon nzType="frown"> </i> Chưa có dữ liệu </div>
</nz-card>
<nz-card [nzBordered]="false">
  <nz-card-tab>
    <nz-tabset nzSize="large" (nzSelectChange)="change($event)">
      <nz-tab nzTitle="Nhật ký Hoạt động Một"> </nz-tab>
      <nz-tab nzTitle="Nhật ký Hoạt động 2"> </nz-tab>
      <nz-tab nzTitle="Nhật ký Hoạt động Ba"> </nz-tab>
    </nz-tabset>
  </nz-card-tab>
  <st [columns]="opColumns" [data]="list">
    <ng-template st-row="status" let-i>
      <nz-badge *ngIf="i.status === 'success'" [nzStatus]="'success'" [nzText]="'Thành công'"></nz-badge>
      <nz-badge *ngIf="i.status !== 'success'" [nzStatus]="'processing'" [nzText]="'Đang Xử lý'"></nz-badge>
    </ng-template>
  </st>
</nz-card>
