<nz-list nzItemLayout="horizontal">
  <nz-list-item>
    <ul nz-list-item-actions>
      <nz-list-item-action>
        <nz-switch [(ngModel)]="i.password" nzCheckedChildren="ON" nzUnCheckedChildren="OFF"> </nz-switch>
      </nz-list-item-action>
    </ul>
    <nz-list-item-meta nzTitle="mật khẩu tài khoản"
      nzDescription="Tin tức của những người dùng khác sẽ ở dạng thư nội bộ Thông báo"> </nz-list-item-meta>
  </nz-list-item>
  <nz-list-item>
    <ul nz-list-item-actions>
      <nz-list-item-action>
        <nz-switch [(ngModel)]="i.messages" nzCheckedChildren="ON" nzUnCheckedChildren="OFF"> </nz-switch>
      </nz-list-item-action>
    </ul>
    <nz-list-item-meta nzTitle="Hệ thống Tin tức" nzDescription="System Tin tức sẽ ở dạng một lá thư đài Thông báo">
    </nz-list-item-meta>
  </nz-list-item>
  <nz-list-item>
    <ul nz-list-item-actions>
      <nz-list-item-action>
        <nz-switch [(ngModel)]="i.todo" nzCheckedChildren="ON" nzUnCheckedChildren="OFF"></nz-switch>
      </nz-list-item-action>
    </ul>
    <nz-list-item-meta nzTitle="Đang chờ xử lýTin tức" nzDescription="Đang chờ xử lý Tin tứ này"></nz-list-item-meta>
  </nz-list-item>
</nz-list>
