<nz-card [nzBordered]="false">
  <form nz-form se-container="1" size="compact" [gutter]="32" [labelWidth]="null">
    <se label="Danh mục liên kết" line>
      <tag-select>
        <nz-tag *ngFor="let i of categories; let idx = index" nzMode="checkable" [nzChecked]="i.value"
          (nzCheckedChange)="changeCategory($event, idx)">
          {{ i.text }}
        </nz-tag>
      </tag-select>
    </se>
    <se label="Owner" line>
      <nz-select [(ngModel)]="q.Owners" name="Owners" [nzMode]="'tags'" style="max-width: 286px">
        <nz-option *ngFor="let i of Owners" [nzLabel]="i.name" [nzValue]="i.id"></nz-option>
      </nz-select>
      <a class="ml-sm" (click)="setOwner()"> Chỉ cần xem xét của riêng bạn </a>
    </se>
    <se label="Sự lựa chọn khác">
      <div class="ant-form ant-form-inline">
        <nz-form-item>
          <nz-form-label nzFor="rate">Tác giả</nz-form-label>
          <nz-form-control>
            <nz-select [(ngModel)]="q.user" name="user" [nzPlaceHolder]="'Lựa chọn thoải mái'" [nzShowSearch]="true"
              style="width: 100px">
              <nz-option [nzLabel]="'Thắng'" [nzValue]="'lisa'"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor="rate">Khen ngợi</nz-form-label>
          <nz-form-control>
            <nz-select [(ngModel)]="q.rate" name="rate" [nzPlaceHolder]="'Lựa chọn thoải mái'" [nzShowSearch]="true"
              style="width: 100px">
              <nz-option [nzLabel]="'thông minh'" [nzValue]="'good'"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </se>
  </form>
</nz-card>
<nz-card [nzBordered]="false">
  <nz-list nzItemLayout="vertical" [nzLoading]="loading" [nzDataSource]="list" [nzRenderItem]="item"
    [nzLoadMore]="loadMore">
    <ng-template #item let-item>
      <nz-list-item [nzContent]="nzContent" [nzExtra]="nzExtra" [nzActions]="[op1, op2, op3]">
        <ng-template #op1> <i nz-icon nzType="star" class="mr-sm"></i>{{ item.star }}</ng-template>
        <ng-template #op2> <i nz-icon nzType="like" class="mr-sm"></i>{{ item.like }}</ng-template>
        <ng-template #op3> <i nz-icon nzType="message" class="mr-sm"></i>{{ item.message }}</ng-template>
        <ng-template #nzExtra>
          <div style="width: 272px; height: 1px"></div>
        </ng-template>
        <nz-list-item-meta [nzTitle]="nzTitle" [nzDescription]="nzDescription">
          <ng-template #nzTitle>
            <a href="{{ item.href }}" target="_blank">{{ item.title }}</a>
          </ng-template>
          <ng-template #nzDescription>
            <nz-tag>Alain</nz-tag>
            <nz-tag>ng-zorro-antd</nz-tag>
            <nz-tag>Ant Design</nz-tag>
          </ng-template>
        </nz-list-item-meta>
        <ng-template #nzContent>
          <p>{{ item.content }}</p>
          <div class="mt-md d-flex">
            <nz-avatar [nzSrc]="item.avatar" [nzSize]="'small'" class="mr-sm"></nz-avatar>
            <a href="{{ item.href }}" target="_blank">{{ item.Owner }}</a>
            <span class="px-sm">Đã đăng trên</span>
            <a href="{{ item.href }}" target="_blank">{{ item.href }}</a>
            <time class="pl-md text-grey" title="{{ item.updatedAt }}">{{ item.updatedAt | _date }}</time>
          </div>
        </ng-template>
      </nz-list-item>
    </ng-template>
    <ng-template #loadMore>
      <div class="text-center mt-md">
        <button nz-button (click)="getData(true)" [nzLoading]="loading" [nzType]="'dashed'"
          style="min-width: 200px">加载Thêm</button>
      </div>
    </ng-template>
  </nz-list>
</nz-card>
