<page-header [title]="'Danh sách thẻ'" [extra]="extra">
  <ng-template #extra>
    <div style="width: 195px; margin-top: -60px; text-align: center;">
      <img class="img-fluid" src="https://gw.alipayobjects.com/zos/rmsportal/RzwpdLnhmvDJToTdfDPe.png" />
    </div>
  </ng-template>
  Đoạn văn: Ant.design, nền tảng thiết kế dịch vụ của Ant Financial, kết nối liền mạch với hệ sinh thái của Ant
  Financial với khối lượng công việc tối thiểu và cung cấp các giải pháp trải nghiệm xuyên suốt quá trình thiết kế và
  phát triển.
  <div class="d-flex pt-md">
    <a class="d-flex pr-lg"> <img class="pr-sm"
        src="https://gw.alipayobjects.com/zos/rmsportal/MjEImQtenlyueSmVEfUD.svg" />快速开始 </a>
    <a class="d-flex pr-lg"> <img class="pr-sm"
        src="https://gw.alipayobjects.com/zos/rmsportal/NbuDUAuBlIApFuDvWiND.svg" />产品简介 </a>
    <a class="d-flex"> <img class="pr-sm"
        src="https://gw.alipayobjects.com/zos/rmsportal/ohOEPSYdDTNnyMbGuyLb.svg" />产品文档 </a>
  </div>
</page-header>
<nz-list [nzLoading]="loading" [nzDataSource]="list" [nzRenderItem]="item"
  [nzGrid]="{ gutter: 24, lg: 8, md: 12, sm: 24, xs: 24 }">
  <ng-template #item let-item>
    <nz-list-item>
      <button *ngIf="item === null" nz-button (click)="show('add')" nzType="dashed" style="width: 100%; height: 193px;">
        <i nz-icon nzType="plus"></i>
        <span> Sản phẩm mới </span>
      </button>
      <nz-card nzHoverable *ngIf="item !== null" [nzActions]="[op1, op2]">
        <ng-template #op1>
          <a (click)="show('Operation One:' + item.id)"> Hoạt động Một </a>
        </ng-template>
        <ng-template #op2>
          <a (click)="show('Operation two:' + item.id)"> Thao tác hai </a>
        </ng-template>
        <nz-card-meta [nzAvatar]="nzAvatar" [nzTitle]="nzTitle" [nzDescription]="nzDescription">
          <ng-template #nzAvatar>
            <nz-avatar nzSize="large" [nzSrc]="item.avatar"></nz-avatar>
          </ng-template>
          <ng-template #nzTitle>
            <a (click)="show('tiêu đề：' + item.id)">{{ item.title }}</a>
          </ng-template>
          <ng-template #nzDescription>
            <ellipsis>{{ item.description }}</ellipsis>
          </ng-template>
        </nz-card-meta>
      </nz-card>
    </nz-list-item>
  </ng-template>
</nz-list>
