<page-header [title]="'Trang chi tiết cơ bản'"></page-header>
<nz-card [nzHoverable]="true" [nzBordered]="false">
  <sv-container size="large" title="Đơn hoàn lại tiền">
    <sv label="Số thứ tự nhận hàng">1000000000</sv>
    <sv label="Tình trạng">Đã giao</sv>
    <sv label="Số lượng đơn đặt hàng">1234123421</sv>
    <sv label="Đơn đặt hàng phụ">3214321432</sv>
  </sv-container>
  <nz-divider></nz-divider>
  <sv-container size="large" title="Thông tin người dùng">
    <sv label="Tên tài khoản">MICHINH</sv>
    <sv label="Số liên lạc">18100000000</sv>
    <sv label="Thường được sử dụng express">GHN</sv>
    <sv label="Địa chỉ">Trần Duy Hưng</sv>
    <sv label="Nhận xét">Tốt</sv>
  </sv-container>
  <nz-divider></nz-divider>
  <div class="text-lg mb-md">Hàng trả lại</div>
  <st #st [data]="goods" [columns]="goodsColumns" [body]="goodsBody" [page]="{ show: false }">
    <ng-template #goodsBody>
      <tr>
        <td>Tổng số</td>
        <td></td>
        <td></td>
        <td class="text-right"></td>
        <td class="text-right">
          <strong>{{ basicNum }}</strong>
        </td>
        <td class="text-right">
          <strong>{{ amountNum}} VND</strong>
        </td>
      </tr>
    </ng-template>
  </st>
  <div class="text-lg my-md">Trả lại tiến độ</div>
  <st [data]="progress" [columns]="progressColumns" [page]="{ show: false }"></st>
</nz-card>
